@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a test ASP.NET Core Web App for publishing to Azure at http://asp-net-corewebappforazure.azurewebsites.net.</p>

<p>v3 Pushed up to github at https://github.com/cr-sullivan/ASPdotNET_CoreWebForAzure.git </p>

